//- class: class for component bem mix: such as positioning functionality
//- name: name of like button
//- counter: number of init likes
//- checked: same as input checked
mixin form-like-button
  .form-like-button(class=attributes.class)
    input.form-like-button__button(
      type="checkbox",
      name=attributes.name,
      checked=attributes.checked,
      title="нравится"
    )
    span.form-like-button__counter= attributes.counter
