//- name: name of like button
//- counter: number of init likes
//- checked: same as input checked
mixin form-like-button({ name = 'like', counter = -1, checked = undefined} = {})
  .form-like-button&attributes(attributes)
    input.form-like-button__button(
      type="checkbox",
      name=name,
      checked=checked,
      title="нравится"
    )
    span.form-like-button__counter= counter
