include ~@common.blocks/primitives/card-datepicker/card-datepicker.pug

//-
  name?: string - name of input
  range?: boolean | number - lib argument, enable range functionality
  selectedDates?: 'ISODateString,ISODateString,...' - initial dates(date), for several values use ','; example: '2020-11-18T21:00:00.000Z' or '2020-11-18T21:00:00.000Z,2020-11-20T21:00:00.000Z';
  placeholder?: string - text of placeholder
  altFields?: string - selector of bonded alt fields
  isAltField?: boolean - mark this as field that uses a different calendar
  isFilter?: boolean - if true, apply button will reload page with chosen value(get method)
  Tip: mixin also uses 'and attributes'(&attributes)

mixin form-dropdown__datepicker({ name = 'datepicker', range = false, selectedDates = '', placeholder = 'ДД.ММ.ГГГГ', altFields = undefined, isAltField = false, isFilter = false } = {})
  input.form-dropdown__datepicker-input(
    type="hidden",
    name=name,
    value=selectedDates,
    data-is-filter=isFilter
  )
  if !isAltField
    +card-datepicker({ range, altFields }).form-dropdown__datepicker&attributes(attributes)
  -
    const dataPlaceholder = placeholder || ((range && !altFields) ? 'ДД ММ - ДД ММ' : 'ДД.ММ.ГГГГ');
    const splitSelectedDates = selectedDates.split(',');
    let dateTime;
    if (splitSelectedDates.length > 1) {
      const msInDay = 24 * 60 * 60 * 1000;
      const theLastDate = Date.parse(splitSelectedDates[splitSelectedDates.length - 1]);
      const theFirstDate = Date.parse(splitSelectedDates[0]);
      dateTime = `P${Math.ceil((theLastDate - theFirstDate) / msInDay)}D`;
    } else {
      dateTime = selectedDates || undefined;
    }
  p.form-dropdown__selection-text(data-placeholder=dataPlaceholder)
    if dateTime
      time(datetime=dateTime)= dateTime
    else
      = dataPlaceholder
