include ~@common.blocks/primitives/card-datepicker/card-datepicker.pug

//- name: {string} - name of input
//- selected-dates?: {ISODateString | ISODateString,ISODateString,...} - initial dates(date), for several values use ','; example: "2020-11-18T21:00:00.000Z" or 2020-11-18T21:00:00.000Z,
//- isAltField?: {boolean} - mark this as field that uses a different calendar
//- altFields?: {string} - selector of bonded alt fields
//- data-range?: {boolean|number} - lib argument, enable range functionality
//- data-placeholder - text of placeholder
//- data-is-filter?: {boolean} - if true, apply button will reload page with chosen value(get method)

mixin form-dropdown__datepicker({ name = 'datepicker', selectedDates = '', placeholder = 'ДД.ММ.ГГГГ', range = undefined, isFilter = undefined, isAltField = undefined, altFields = undefined } = {})
  button.form-dropdown__datepicker-btn(id=name, type="button")&attributes(attributes)
    input.form-dropdown__datepicker-input(
      type="hidden",
      name=name,
      value=selectedDates,
      data-is-filter=isFilter ? `${isFilter}` : undefined
    )
    if !isAltField
      +card-datepicker.form-dropdown__datepicker(data-alt-fields=altFields, data-range=range) 
    p.form-dropdown__selection-text
      time(
        datetime=selectedDates,
        data-placeholder=placeholder || (range && !altFields) ? 'День месяц - день месяц' : 'ДД.ММ.ГГГГ'
      )
