include ~@common.blocks/containers/slideshow/slideshow.pug
include ~@common.blocks/containers/form-rate-button/form-rate-button.pug

//- 
  href: string - link to room's page
  roomNumber: number - number of room
  roomGrade?: string - grade of room, for example: Люкс
  paymentAmount: number - daily cost
  rate: number - initial rating
  commentsAmount: number - amount of comments about room
  paths: string[] - images' paths
  Tip: mixin also uses 'and attributes'(&attributes)
mixin card-room({ href = '/mock.html', roomNumber = -1, roomGrade = '', paymentAmount = -1, rate = 0, commentsAmount = -1, paths = [] } = {})
  -
    const currency = '₽';

    const roomNumberSentence = `№ ${roomNumber.toLocaleString()}`;
    const paymentAmountSentence = `${paymentAmount.toLocaleString()}${currency}<span class="card-base__text card-base__text_size_small"> в сутки</span>`;
    const commentsAmountSentence = `${commentsAmount.toLocaleString()}<span class="card-base__text"> Отзывов</span>`;

    const uniqueNamePostfix = Math.random();
  .card-base.card-room&attributes(attributes)
    .card-room__slideshow
      +slideshow({ name: `${href}-slideshow-${uniqueNamePostfix}`, paths })
    .card-room__room-data 
      a.card-room__data-row(href=href, title="Подробнее о номере")
        .card-room__room-title
          h2.card-room__room-number= roomNumberSentence
          if roomGrade
            h3.card-room__room-grade= roomGrade
        h3.card-room__day-payment!= paymentAmountSentence
      .card-room__data-row
        .card-room__room-rating
          +form-rate-button({ name: `${href}-rating-${uniqueNamePostfix}`, rate, disabled: true, interaction: 'rejected' })
        h3.card-room__room-comments!= commentsAmountSentence
