include ~@common.blocks/primitives/form-text-field/form-text-field.pug
include ~@common.blocks/primitives/button/button.pug

//- 
  action: string - form action
  name?: string - name of <form>, also it is used such prefix for names of inner forms
  method?: 'get' | 'post' - form method
  Tip: mixin also uses 'and attributes'(&attributes)
mixin card-entering({ action = '/mock.js', name = 'card-entering', method = 'post' } = {})
  form.card-base.card-entering(name=name, action=action, method=method)&attributes(attributes)
    h1.card-entering__title Войти
    +form-text-field({ name: `${name}-email`, type: 'email' }).card-entering__email-field
    +form-text-field({ name: `${name}-password`, type: 'password' }).card-entering__password-field
    +button({ appearance: 'link' }).card-entering__link-btn(
      type="submit",
      value="Войти",
      tabindex="1"
    )
    p.card-entering__caption-of-redirect-to-registration Нет аккаунта на Toxin?
    +button({ appearance: 'bordered' }).card-entering__switch-btn(
      type="button",
      value="Создать"
    )
