include ~@common.blocks/primitives/form-text-field/form-text-field.pug
include ~@common.blocks/primitives/button/button.pug

//- class: class for component bem mix: such as positioning functionality
//- name: {string} - name of <form>, also it is used such prefix for names of inner forms
//- action - form action
//- method - form method
//- target: {("_self"|null)|"_blank"|"_parent"|"_top"} - form target
mixin card-entering
  form.card-base.card-entering(
    class=attributes.class,
    name=attributes.name,
    action=attributes.action,
    method=attributes.method || 'post',
    target=attributes.target
  )
    h1.card-entering__title Войти
    +form-text-field.card-entering__email-field(type="email", name=`${attributes.name}-email`)
    +form-text-field.card-entering__password-field(
      type="password",
      name=`${attributes.name}-password`
    )
    +button.card-entering__link-btn(
      type="submit",
      value="Войти",
      modClass="link",
      tabindex="1"
    )
    p.card-entering__caption-of-redirect-to-registration Нет аккаунта на Toxin?
    a.card-entering__switch-btn(href="/mock.html")
      +button(type="button", value="Создать", modClass="bordered", tabindex="-1")
