extends ~@pug/layouts/toxin-main.pug

//- components
include ~@common.blocks/primitives/form-dropdown/form-dropdown.pug
include ~@common.blocks/primitives/form-range-slider/form-range-slider.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
include ~@common.blocks/specific/pagination/pagination.pug
include ~@common.blocks/containers/form-expandable-checkbox-list/form-expandable-checkbox-list.pug
include ~@common.blocks/containers/card-room/card-room.pug

block variables
  -
    let title = 'Поиск по номерам';
    let description = 'Страница поиска по номерам в макете сайта TOXIN';

block content
  .search-room-layout.content-container
    aside.search-room-layout__filter
      +form-dropdown#dates-of-stay-dropdown.search-room-layout__dates-of-stay-dropdown(
        name="dates-of-stay",
        type="date",
        isFilter,
        label="Даты пребывания в отеле",
        output="plural",
        selected-dates="2019-08-19, 2019-08-23"
      )
      +form-dropdown#guests-dropdown.search-room-layout__guests-dropdown(
        name="guests",
        type="item-quantity",
        label="Гости",
        isFilter,
        placeholder="Сколько гостей",
        openMod="apply",
        groups={ гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } },
        list={ взрослые: { default: 2, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 1, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 1, min: 0, max: 1 / 0 } }
      )
      +form-range-slider#price-range-slider.search-room-layout__price-range-slider(
        name="price",
        range={ min: 341, max: 15454 },
        start=[5000, 10000],
        isFilter,
        label="Диапазон цены",
        description="Стоимость за сутки пребывания в номере"
      )
      +form-checkbox-buttons#checkbox-buttons.search-room-layout__checkbox-buttons(
        isFilter,
        label="checkbox buttons",
        buttons={ isSmoking: { id: 'isSmokingCheckbox', itemLabel: 'Можно курить' }, isWithPets: { id: 'isWithPetsCheckbox', itemLabel: 'Можно с питомцами', checked: 'checked' }, isGuests: { id: 'isGuestsCheckbox', itemLabel: 'Можно пригласить гостей (до 10 человек)', checked: 'checked' } }
      )
      +form-checkbox-buttons#affordable-rich-checkbox-buttons.search-room-layout__affordable-rich-checkbox-buttons(
        isFilter,
        label="Доступность",
        mod="rich",
        buttons={ wideCorridor: { id: 'wideCorridorCheckbox', itemLabel: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.' }, assistantForTheDisabled: { id: 'assistantForTheDisabledCheckbox', itemLabel: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.' } }
      )
      +form-dropdown#facilities-dropdown.search-room-layout__facilities-dropdown(
        name="facilities",
        type="item-quantity",
        isFilter,
        label="dropdown",
        output="plural",
        openMod="fold",
        groups={ спальни: { selectionText: 'спальня', textPlural: 'спальни' }, кровати: { selectionText: 'кровать', textPlural: 'кровати' }, 'ванные комнаты': { selectionText: 'ванная комната', textPlural: 'ванные комнаты' } },
        list={ спальни: { default: 2, min: 1, max: 3 }, кровати: { default: 2, min: 1, max: 3 }, 'ванные комнаты': { default: 0, min: 0, max: 2 } }
      )
      +form-expandable-checkbox-list#additional-comfort-expandable-checkbox-list.search-room-layout__additional-comfort-expandable-checkbox-list(
        isFilter,
        label="Дополнительные удобства",
        buttons={ breakfast: { id: 'breakfastCheckbox', itemLabel: 'Завтрак' }, desk: { id: 'deskCheckbox', itemLabel: 'Письменный стол', checked: 'checked' }, feedingChair: { id: 'feedingChairCheckbox', itemLabel: 'Стол для кормления', checked: 'checked' }, cot: { id: 'cotCheckbox', itemLabel: 'Кроватка', checked: 'checked' }, tv1: { id: 'tv1Checkbox', itemLabel: 'Телевизор' }, shampoo1: { id: 'shampoo1Checkbox', itemLabel: 'Шампунь' }, tv2: { id: 'tv2Checkbox', itemLabel: 'Телевизор' }, shampoo2: { id: 'shampoo2Checkbox', itemLabel: 'Шампунь' } }
      )
    h1.search-room-layout__title Номера, которые мы для вас подобрали
    main.search-room-layout__rooms
      +card-room(
        href="#room-luxury1",
        name="room-luxury1",
        paths=['assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png'],
        room-number=888,
        room-grade="Люкс",
        payment-amount=9990,
        rate=5,
        comments-amount=145
      )
      +card-room(
        href="#room-common1",
        name="room-common1",
        paths=['assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=840,
        payment-amount=9900,
        rate=4,
        comments-amount=65
      )
      +card-room(
        href="#room-luxury2",
        name="room-luxury2",
        paths=['assets/pictures/contents/rooms/luxury/980/980.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png'],
        room-number=980,
        room-grade="Люкс",
        payment-amount=8500,
        rate=3,
        comments-amount=35
      )
      +card-room(
        href="#room-common2",
        name="room-common2",
        paths=['assets/pictures/contents/rooms/common/856/856.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=856,
        payment-amount=7300,
        rate=5,
        comments-amount=19
      )
      +card-room(
        href="#room-common3",
        name="room-common3",
        paths=['assets/pictures/contents/rooms/common/740/740.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=740,
        payment-amount=6000,
        rate=4,
        comments-amount=44
      )
      +card-room(
        href="#room-common4",
        name="room-common4",
        paths=['assets/pictures/contents/rooms/common/982/982.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=982,
        payment-amount=5800,
        rate=3,
        comments-amount=56
      )
      +card-room(
        href="#room-common5",
        name="room-common5",
        paths=['assets/pictures/contents/rooms/common/678/678.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=678,
        payment-amount=5500,
        rate=5,
        comments-amount=45
      )
      +card-room(
        href="#room-common6",
        name="room-common6",
        paths=['assets/pictures/contents/rooms/common/450/450.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=450,
        payment-amount=5300,
        rate=4,
        comments-amount=39
      )
      +card-room(
        href="#room-common7",
        name="room-common7",
        paths=['assets/pictures/contents/rooms/common/350/350.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=350,
        payment-amount=5000,
        rate=3,
        comments-amount=77
      )
      +card-room(
        href="#room-common9",
        name="room-common9",
        paths=['assets/pictures/contents/rooms/common/666/666.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=666,
        payment-amount=5000,
        rate=5,
        comments-amount=25
      )
      +card-room(
        href="#room-common10",
        name="room-common10",
        paths=['assets/pictures/contents/rooms/common/444/444.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=444,
        payment-amount=5000,
        rate=3,
        comments-amount=15
      )
      +card-room(
        href="#room-common8",
        name="room-common8",
        paths=['assets/pictures/contents/rooms/common/352/352.png', 'assets/pictures/contents/rooms/luxury/888/888.png', 'assets/pictures/contents/rooms/common/840/840.png', 'assets/pictures/contents/rooms/luxury/888/888.png'],
        room-number=352,
        payment-amount=5000,
        rate=3,
        comments-amount=55
      )
    +pagination#pagination.search-room-layout__pagination(
      page=1,
      displayed=12,
      total=179,
      text="вариантов аренды",
      hrefPrefix="?page="
    )
