include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/form-like-button/form-like-button.pug
include ~@utils/devTools/pug/mixins/picture.pug

//- items: {
  'name-1':{
    personName:string,
    iconPath:string,
    date:datestring,
    content:string,
    likeButtonCounter:number,
    isLikeButtonChecked
  },
  'name-2':{
    personName:string,
    iconPath:string,
    date:datestring,
    content:string,
    likeButtonCounter:number,
    isLikeButtonChecked
  },...}
//- class?: class for component bem mix: such as positioning functionality
//- heading?: { tag: text }, example: { h3: 'awesome heading' }

mixin comments
  .comments(class=attributes.class)
    if attributes.heading
      +heading(attributes.heading)
    each item, key in attributes.items
      .comments__item
        +picture.comments__icon-item(path=item.iconPath, alt="Иконка комментирующего")
        .comments__source-item
          h3.comments__name-item= item.personName
          p.comments__date-item
            time(datetime=item.date)
        p.comments__content-item= item.content
        .comments__like-button-item
          +form-like-button(
            name=`${key}-like-button`,
            counter=item.likeButtonCounter,
            checked=item.isLikeButtonChecked
          )
