include ./__item-quantity-list/form-dropdown__item-quantity-list.pug
include ./__datepicker/form-dropdown__datepicker.pug
include ~@common.blocks/primitives/apply-control/apply-control.pug
//- name: name of component hidden input
//- type: "date" | "item-quantity"
//- id?: id of dropdown button
//- class?: class for component bem mix: such as positioning functionality
//- isFilter?: {boolean} - if true, input change event will reload page with chosen value(get method), default is false
//- label?: text of label
//- output?: "single" | "plural", default is "single"
//- placeholder?: text of placeholder
//- Additional for type "date":
//-   selected-dates?: {ISODateString | ISODateString,ISODateString,...} - initial dates(date), for several values use ','; example: "2020-11-18T21:00:00.000Z" or 2020-11-18T21:00:00.000Z,2020-11-20T21:00:00.000Z; tip: if output is 'plural' -> you should write 2 dates
//- Additional for type: item-quantity
  //- openMod?: "toggle" | "fold" | "apply", default is "toggle"
  //- list: object like this: { itemName1: { default: 2, min: 0, max: 1 / 0 }, itemName2: { default: 1, min: 0, max: 1 / 0 }, itemName3: { default: 0, min: 0, max: 1 / 0 } }
  //- Additional for openMod == "single"
    //- selectionText?: text of 1 item
    //- textPlural?: text of >1 items
mixin form-dropdown
  -
    const output = attributes.output ? attributes.output : "single";
    const isFilter = attributes.isFilter ? attributes.isFilter + '' : null;
    const openMod = attributes.openMod ? attributes.openMod : "toggle";
  .form-dropdown(class=attributes.class)
    if attributes.label
      h3.form-label
        label(for=attributes.id)= attributes.label
    .form-field
      label.icon.form-dropdown__expand-icon(for=attributes.id)
      case attributes.type
        when "date"
          +form-dropdown__datepicker(
            name=attributes.name,
            id=attributes.id,
            isFilter=isFilter,
            data-range=output === 'plural' ? true : false,
            placeholder=attributes.placeholder,
            selected-dates=attributes['selected-dates']
          )
        when "item-quantity"
          +form-dropdown__item-quantity-list(
            name=attributes.name,
            id=attributes.id,
            class=`form-dropdown__item-quantity-list_output-${output} form-dropdown__item-quantity-list_openMod-${openMod}`,
            isFilter=isFilter,
            placeholder=attributes.placeholder,
            list=attributes.list,
            selectionText=attributes.selectionText,
            textPlural=attributes.textPlural
          )
            if openMod === "apply"
              +apply-control.form-dropdown__link-btns
