extends ~@pug/layouts/ui-kit-layout.pug

//- components
include ~@common.blocks/containers/card-pick-room/card-pick-room.pug
include ~@common.blocks/containers/card-registration/card-registration.pug
include ~@common.blocks/containers/card-entering/card-entering.pug
include ~@common.blocks/containers/card-room-definition/card-room-definition.pug
include ~@common.blocks/containers/card-room/card-room.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Карточки, используемые в базовом макете сайта TOXIN';
  - var title = 'Карточки';

block content
  main.cards-layout.ui-kit-container
    +card-pick-room#card-pick-room.cards-layout__pick-room(action="")
    +card-registration#card-registration.cards-layout__registration(action="")
    +card-entering#card-entering.cards-layout__entering(action="")
    +card-room-definition#card-room-definition.cards-layout__room-definition(
      action="",
      room-number=888,
      room-grade="Люкс",
      payment-amount=9990,
      arrival-value="2019-08-19",
      departure-value="2019-08-23",
      guests-list={ взрослые: { default: 2, min: 0, max: 1 / 0 }, дети: { default: 1, min: 0, max: 1 / 0 }, младенцы: { default: 0, min: 0, max: 1 / 0 } },
      services-payment=2179,
      services-sale=2179,
      additional-services-payment=300
    )
    +card-room#card-room-luxury.cards-layout__card-luxury-room(
      href="#room-luxury",
      name="room-luxury",
      paths=['assets/pictures/contents/rooms/luxury/room1/img1.png', 'assets/pictures/contents/rooms/common/room1/img1.png', 'assets/pictures/contents/rooms/luxury/room1/img1.png', 'assets/pictures/contents/rooms/common/room1/img1.png'],
      room-number=888,
      room-grade="Люкс",
      payment-amount=9990,
      rate=5,
      comments-amount=145
    )
    +card-room#card-room-common.cards-layout__card-common-room(
      href="#room-common",
      name="room-common",
      paths=['assets/pictures/contents/rooms/common/room1/img1.png', 'assets/pictures/contents/rooms/luxury/room1/img1.png', 'assets/pictures/contents/rooms/common/room1/img1.png', 'assets/pictures/contents/rooms/luxury/room1/img1.png'],
      room-number=840,
      payment-amount=9900,
      rate=4,
      comments-amount=65
    )
