include ~@utils/devTools/pug/mixins/picture.pug

//-
  name?: string - name of radio group
  paths: string[] - paths for images
  Tip: mixin also uses 'and attributes'(&attributes)
mixin slideshow({ name = 'slideshow', paths = [] } = {})
  .slideshow&attributes(attributes)
    -
      let pictureID;
      let labelID = `${name}-${(paths.length - 1)}`;

      const radioContainerRightOffset = 15;
      const radioSize = 7.5;
      const radioGap = 7.5 / 2;
    each path, index in paths
      -
        pictureID = `${name}-${index}`;

        const reverseOrderIndex = paths.length - index - 1;
        const rightRadioOffset =
          radioContainerRightOffset + radioSize * reverseOrderIndex + radioGap * reverseOrderIndex;
      input.slideshow__radio(
        id=pictureID,
        type="radio",
        name=name,
        checked=index === 0 ? 'checked' : undefined,
        style=`right: ${rightRadioOffset}px`
      )
      label.icon.slideshow__switcher(for=labelID)= `К изображению ${labelID}`
      +picture(path, `Изображение ${index + 1}`).slideshow__picture
      - labelID = pictureID;
    label.icon.slideshow__switcher(for=pictureID)= `К изображению ${pictureID}`
    label.icon.slideshow__switcher(for=`${name}-0`)= `К изображению ${name}-0`
