include ~@utils/devTools/pug/mixins/picture.pug

//- id: id of slideshow
//- class: class for component bem mix: such as positioning functionality
//- name: {string} - name of radio group
//- paths: {Array<string>} - paths for images
mixin slideshow
  .slideshow(id=attributes.id, class=attributes.class)
    -
      let labelID = `${attributes.name}-${(attributes.paths.length - 1)}`;

      const radioContainerRightOffset = 15;
      const radioSize = 7.5;
      const radioGap = 7.5 / 2;
    each path, index in attributes.paths
      -
        const pictureID = `${attributes.name}-${index}`;

        const reverseOrderIndex = attributes.paths.length - index - 1;
        const rightRadioOffset =
          radioContainerRightOffset + radioSize * reverseOrderIndex + radioGap * reverseOrderIndex;
      input.slideshow__radio(
        id=pictureID,
        type="radio",
        name=attributes.name,
        checked=index === 0 ? 'checked' : null,
        style=`right: ${rightRadioOffset}px`
      )
      label.icon.slideshow__switcher(for=labelID)= `View ${labelID}`
      +picture.slideshow__picture(path=path, alt=`Изображение № ${index + 1}`)
      - labelID = pictureID;
    label.icon.slideshow__switcher(for=pictureID)= `View ${pictureID}`
    label.icon.slideshow__switcher(for=`${attributes.name}-0`)= `View ${attributes.name + 0}`
