include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/icon/icon.pug

//-
  heading?: see mixin heading
  description?: see mixin heading
  headingMarginBottom?: see marginBottom in mixin heading
  name?: string - name of input field
  type?: 'text' | 'email' | 'password' | 'date' - type of field for validation 
  placeholder?: string - placeholder text
  value?: string - init value of field
  autofocus?: boolean - autofocus of field
  materialIcon?: string - material icon name for submit btn in field
  isFilter?: boolean - if true, input change event will reload page with chosen value(get method)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-text-field({ heading = '', description = '', headingMarginBottom = '', name = 'text-field', type = 'text', placeholder = '', value = '', autofocus = false, materialIcon = '', isFilter = false } = {})
  -
    const allowedInputMaskTypes = ['text', 'search', 'tel', 'url', 'password'];
    const allowedInputmodeAttribute = [
      'none',
      'text',
      'decimal',
      'numeric',
      'tel',
      'search',
      'email',
      'url',
    ];
    const reservedPlaceholders = { email: 'Email', password: 'Пароль', date: 'ДД.ММ.ГГГГ' };

    const componentClassModificator = type
      ? `form-text-field_type_with-${type}`
      : '';
    const inputMaskType = allowedInputMaskTypes.find((inputMaskType) => inputMaskType === type) || 'text';
    const inputModeAttr =
      allowedInputmodeAttribute.find((attr) => attr === type);
  .form-text-field(class=componentClassModificator)&attributes(attributes)
    if heading
      +heading(heading, { description, marginBottom: headingMarginBottom, isLabel: true })(
        for=name
      )
    .form-field
      input.form-text-field__input(
        data-is-filter=isFilter,
        type=inputMaskType,
        inputmode=inputModeAttr,
        name=name,
        id=name,
        placeholder=reservedPlaceholders[type] || placeholder,
        value=value,
        autofocus=autofocus
      )
      if materialIcon
        +icon({ tag: 'button', content: materialIcon, width: 'large', color: 'primary-gradient' })(
          type="submit"
        )
