include ~@common.blocks/primitives/heading/heading.pug

//- class - class for component bem mix: such as positioning functionality
//- data-is-filter: {boolean} - if true, input change event will reload page with chosen value(get method)
//- heading?: { tag: text }, example: { h3: 'awesome heading' }
//- type - type of field for validation: 'email' | 'password' | 'date' 
//- name - name of input field
//- value - init value of field
//- placeholder - placeholder text
//- autofocus - { boolean } - autofocus of field
//- materialIcon - material icon name for submit btn in field
mixin form-text-field({ name = 'text-field', type = 'text', value = '', placeholder = '', autofocus = false, heading = undefined, materialIcon = '', isFilter = undefined } = {})
  -
    const allowedInputMaskTypes = ['text', 'search', 'tel', 'url', 'password'];
    const allowedInputmodeAttribute = [
      'none',
      'text',
      'decimal',
      'numeric',
      'tel',
      'search',
      'email',
      'url',
    ];
    const reservedPlaceholders = { email: 'Email', password: 'Пароль', date: 'ДД.ММ.ГГГГ' };

    const componentClassModificator = type
      ? `form-text-field_type-${type}`
      : '';
    const inputMaskType = allowedInputMaskTypes.find((inputMaskType) => inputMaskType === type) || 'text';
    const inputModeAttr =
      allowedInputmodeAttribute.find((attr) => attr === type);
  .form-text-field(class=componentClassModificator)&attributes(attributes)
    if heading
      +heading(heading, { isLabel: true })(for=name)
    .form-field
      input.form-text-field__input(
        data-is-filter=isFilter ? `${isFilter}` : undefined,
        type=inputMaskType,
        inputmode=inputModeAttr,
        name=name,
        id=name,
        placeholder=reservedPlaceholders[type] || placeholder,
        value=value,
        autofocus=autofocus
      )
      if materialIcon
        button.icon.form-text-field__link-icon(type="submit", data-icon=materialIcon)
