//- id - id for input field inside component
//- class - class for component bem mix: such as positioning functionality
//- data-is-filter: {boolean} - if true, input change event will reload page with chosen value(get method)
//- label - text for label
//- type - type of field for validation: 'email' | 'password' | 'date' 
//- name - name of input field
//- value - init value of field
//- data-placeholder - placeholder text
//- autofocus - just add it for it works
//- data-material-icon - material icon name for submit btn in field
mixin form-text-field
  -
    const allowedInputmaskTypes = ['text', 'search', 'tel', 'url', 'password'];
    const allowedInputmodeAttribute = [
      'none',
      'text',
      'decimal',
      'numeric',
      'tel',
      'search',
      'email',
      'url',
    ];
    const reservedPlaceholders = { email: 'Email', password: 'Пароль', date: 'ДД.ММ.ГГГГ' };

    const componentClassModificator = attributes.type
      ? `form-text-field_is${attributes.type[0].toUpperCase()}${attributes.type.slice(1)}`
      : '';
    const inputMaskType = allowedInputmaskTypes.find((type) => type === attributes.type) || 'text';
    const inputModeAttr =
      allowedInputmodeAttribute.find((type) => type === attributes.type) || 'text';
  .form-text-field(class=componentClassModificator, class=attributes.class)
    if attributes.label
      h3.form-label
        label(for=attributes.id)= attributes.label
    .form-field
      input.form-text-field__input(
        id=attributes.id,
        data-is-filter=attributes['data-is-filter'] ? `${attributes['data-is-filter']}` : null,
        type=inputMaskType,
        inputmode=inputModeAttr,
        name=attributes.name,
        data-placeholder=reservedPlaceholders[attributes.type] || attributes.data - placeholder,
        value=attributes.value,
        autofocus=attributes.autofocus
      )
      if attributes['data-material-icon']
        button.icon.form-text-field__link-icon(
          type="submit",
          data-icon=attributes['data-material-icon']
        )
