//- attributes.id - id for input field inside component
//- attributes.class - class for component bem mix: such as positioning functionality
//- attributes.label - text for label
//- attributes.type - type of field for validation such as 'email' or 'date'
//- attributes.name - name of input field
//- attributes.value - init value of field
//- attributes.mod - additional modificator such as 'subscription'
//- attributes.placeholder - placeholder text
//- autofocus="autofocus" is true value for autofocus field
mixin form-text-field
  .form-text-field(class=attributes.class)
    if attributes.label
      h3.form-label
        label(for=attributes.id)= attributes.label
    div(
      class=attributes.type ? 'form-text-field_is' + attributes.type[0].toUpperCase() + attributes.type.slice(1) : '',
      class=attributes.mod ? 'form-text-field_mod-' + attributes.mod : ''
    )
      input.form-field(
        id=attributes.id,
        type="text",
        name=attributes.name,
        placeholder=attributes.placeholder,
        value=attributes.value,
        autofocus=attributes.autofocus
      )
