include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/icon/icon.pug

//-
  heading?: see mixin heading
  description?: see mixin heading
  headingMarginBottom?: see marginBottom in mixin heading
  name?: string - name of input field
  type?: 'text' | 'email' | 'password' | 'date' - type of field for validation 
  placeholder?: string - placeholder text
  value?: string - init value of field
  autofocus?: boolean - autofocus of field
  materialIcon?: string - material icon name for submit btn in field
  isFilter?: boolean - if true, input change event will reload page with chosen value(get method)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-text-field({ heading = '', description = '', headingMarginBottom = '', name = 'text-field', type = 'text', placeholder = '', value = '', autofocus = false, materialIcon = '', isFilter = false } = {})
  -
    //- allowed inputmode:  'none' | 'text' | 'decimal' | 'numeric' | 'tel' | 'search' | 'email' | 'url',
    //- allowed types for placeholder attribute: 'email', 'number', 'password', 'search', 'tel', 'text', 'url'

    const attributesOfType = {
      text: {
        inputType: 'text',
        inputmode: 'text',
        placeholderOfType: '',
        withPlaceholder: true,
      },
      email: {
        inputType: 'email',
        inputmode: 'email',
        placeholderOfType: 'Email',
        withPlaceholder: true,
      },
      password: {
        inputType: 'password',
        inputmode: 'text',
        placeholderOfType: 'Пароль',
        withPlaceholder: true,
      },
      date: {
        inputType: 'date',
        inputmode: 'numeric',
        placeholderOfType: 'ДД.ММ.ГГГГ',
        withPlaceholder: false,
      }
    }

    const { inputType, inputmode, placeholderOfType, withPlaceholder } = attributesOfType[type];

    const typeClass = `form-text-field__input_type_with-${type}`;
  .form-text-field.js-form-text-field&attributes(attributes)
    if heading
      +heading(heading, { description, marginBottom: headingMarginBottom, isLabel: true })(
        for=name
      )
    .form-text-field__field
      input.form-text-field__input.js-form-text-field__input(
        class=[typeClass],
        data-is-filter=isFilter,
        type=inputType,
        inputmode=inputmode,
        name=name,
        id=name,
        placeholder=withPlaceholder ? placeholder || placeholderOfType : undefined,
        value=value,
        autofocus=autofocus
      )
      if materialIcon
        +icon({ tag: 'button', content: materialIcon, width: 'large', color: 'primary-gradient' })(
          type="submit"
        )
