//- attributes.id - id for input field inside component
//- attributes.class - class for component bem mix: such as positioning functionality
//- attributes.label - text for label
//- attributes.type - type of field for validation such as 'email' or 'date'
//- attributes.name - name of input field
//- attributes.value - init value of field
//- attributes.placeholder - placeholder text
//- autofocus - just add it for it works
//- href - link for btn
//- link-icon - name of Material icon
mixin form-text-field
  .form-text-field(
    class=attributes.type ? 'form-text-field_is' + attributes.type[0].toUpperCase() + attributes.type.slice(1) : '',
    class=attributes.class
  )
    if attributes.label
      h3.form-label
        label(for=attributes.id)= attributes.label
    .form-field
      input.form-text-field__input(
        id=attributes.id,
        type="text",
        name=attributes.name,
        placeholder=attributes.placeholder,
        value=attributes.value,
        autofocus=attributes.autofocus
      )
      if attributes.href
        a.form-text-field__link-icon(href=attributes.href)= attributes['link-icon']
