include ~@common.blocks/primitives/heading/heading.pug

//- name: name of group
//- buttons: {
  'name-1':{
    label:string,
    checked: 'checked'
  },
  'name-2':{
    label:string,
    checked: ''
  },...}
//- data-is-filter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- heading?: { tag: text }, example: { h3: 'awesome heading' }
//- disabled?: same as fieldset disabled (disable all buttons)
mixin form-radio-buttons({ heading = undefined, disabled = undefined, buttons = {}, name = 'radio', isFilter = undefined } = {})
  .form-radio-buttons&attributes(attributes)
    if heading
      .form-radio-buttons__heading
        +heading(heading)
    fieldset.form-radio-buttons__fieldset(disabled=disabled)
      each btn, key in buttons
        .form-radio-buttons__item
          input.form-radio-buttons__button-item(
            id=key,
            type="radio",
            name=name,
            data-is-filter=isFilter ? `${isFilter}` : undefined,
            checked=btn.checked,
            value=key
          )
          label.form-radio-buttons__label-item(for=key)= btn.label
