include ~@common.blocks/primitives/heading/heading.pug

//- name: name of group
//- buttons: {
  'name-1':{
    label:string,
    checked: 'checked'
  },
  'name-2':{
    label:string,
    checked: ''
  },...}
//- class?: class for component bem mix: such as positioning functionality
//- data-is-filter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- heading?: { tag: text }, example: { h3: 'awesome heading' }
//- disabled?: same as fieldset disabled (disable all buttons)
mixin form-radio-buttons
  .form-radio-buttons(class=attributes.class)
    if attributes.heading
      .form-radio-buttons__heading
        +heading(attributes.heading)
    fieldset.form-radio-buttons__fieldset(disabled=attributes.disabled)
      each btn, key in attributes.buttons
        .form-radio-buttons__item
          input.form-radio-buttons__button-item(
            id=key,
            type="radio",
            name=attributes.name,
            data-is-filter=attributes['data-is-filter'] ? `${attributes['data-is-filter']}` : null,
            checked=btn.checked,
            value=key
          )
          label.form-radio-buttons__label-item(for=key)= btn.label
