include ~@common.blocks/primitives/card-text/card-text.pug
include ~@common.blocks/containers/slideshow/slideshow.pug
include ~@common.blocks/containers/form-rate-button/form-rate-button.pug

//- 
  number: number - number of room
  grade?: string - grade of room, for example: Люкс
  payment: number - daily cost
  rate: number - initial rating
  comments: number - amount of comments about room
  href: string - link to room's page
  paths: string[] - images' paths
  Tip: mixin also uses 'and attributes'(&attributes)
mixin room-card({ number = -1, grade = '', payment = -1, rate = 0, comments = -1, href = './mock.html', paths = [] } = {})
  -
    const currency = '₽';

    const numberSentence = `№ ${number.toLocaleString()}`;
    const paymentSentence = `${payment.toLocaleString()}${currency}`;
    const commentsSentence = `${comments.toLocaleString()}`;

    const uniqueNamePostfix = Date.now() + Math.random();
  figure.room-card&attributes(attributes)
    .room-card__slideshow
      +slideshow({ name: `${href}-slideshow-${uniqueNamePostfix}`, paths })
    figcaption.room-card__room-data
      a.room-card__data-row(href=href, title="Подробнее о номере")
        .room-card__room-title
          h2.room-card__room-number= numberSentence
          if grade
            h3.room-card__room-grade= grade
        h3.room-card__day-payment
          = paymentSentence
          +card-text(' в сутки', { size: 'small' })
      .room-card__data-row
        .room-card__room-rating
          +form-rate-button({ name: `${href}-rating-${uniqueNamePostfix}`, rate, disabled: true,interaction: 'rejected' })
        h3.room-card__room-comments
          = commentsSentence
          +card-text(' Отзывов')
