include ~@common.blocks/primitives/form-text-field/form-text-field.pug

//- type?: "creative"
//- id?: id of component
//- class?: class for component bem mix: such as positioning functionality

mixin footer
  -
    const icons = ["","",""];
    const copyright = "Copyright © 2018 Toxin отель. Все права зачищены.";
  case attributes.type
    when "creative"
      footer.footer.footer_creative.content-container(id=attributes.id, class=attributes.class)
        section.footer__logo
          .logo.logo_color-gradient-primary
          span.logo__title TOXIN
        p.footer__copyright= copyright
        section.footer__icons
          ul
            each icon in icons
              li 
                a.icon.icon_color-gradient-primary.footer__brand-icon(href='', data-icon=icon)
    default
      footer.footer.content-container(id=attributes.id, class=attributes.class)
        section.footer__widgets
          section.footer__logo
            .logo.logo_color-gradient-primary
            span.logo__title TOXIN
          p.footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          section.footer__navigation
            input#footer__navigation-checkbox.footer__list-checkbox(type='checkbox')
            .footer__list
              h3
                label.footer__list-label(for='footer__navigation-checkbox') Навигация
              ul
                li
                  a(href='/mock-address/change-me') О нас
                li
                  a(href='/mock-address/change-me') Новости
                li
                  a(href='/mock-address/change-me') Служба поддержки
                li
                  a(href='/mock-address/change-me') Услуги
          section.footer__about
            input#footer__about-checkbox.footer__list-checkbox(type='checkbox')
            .footer__list
              h3
                label.footer__list-label(for='footer__about-checkbox') О нас
              ul
                li
                  a(href='/mock-address/change-me') О сервисе
                li
                  a(href='/mock-address/change-me') Наша команда
                li
                  a(href='/mock-address/change-me') Вакансии
                li
                  a(href='/mock-address/change-me') Инвесторы
          section.footer__support
            input#footer__support-checkbox.footer__list-checkbox(type='checkbox')
            .footer__list
              h3 
                label.footer__list-label(for='footer__support-checkbox') Служба поддержки
              ul
                li
                  a(href='/mock-address/change-me') Соглашения
                li
                  a(href='/mock-address/change-me') Сообщества
                li
                  a(href='/mock-address/change-me') Связь с нами
          section.footer__subscription
            input#footer__subscription-checkbox.footer__list-checkbox(type='checkbox')
            .footer__list
              h3
                label.footer__list-label(for='footer__subscription-checkbox') Подписка
              p Получайте специальные предложения и новости сервиса
              +form-text-field#subscription-text-field(
                type='email',
                name='subscription-form-text-field',
                materialIcon='arrow_forward'
              )
        section.footer__copyright-bar
          p.footer__copyright= copyright
          .footer__icons
            each icon in icons
              a.icon.icon_color-gradient-primary.footer__brand-icon(href='', data-icon=icon)
