include ~@common.blocks/primitives/logo/logo.pug
include ~@common.blocks/primitives/form-text-field/form-text-field.pug
include ~@common.blocks/primitives/icon/icon.pug

//- 
  type?: 'creative' - type of footer
    when undefined
      action: string - action of form with subscription
      name?: string - name of form with subscription
      method?: 'get' | 'post' - method of form with subscription
      menus?: { [heading: string]: { title: string, href: string }[] }
  icons?: { [title: string]: { glyph: string, href: string } } - icons
  copyright?: string - copyright text
  Tip: mixin also uses 'and attributes'(&attributes)
mixin footer({ type = undefined, action = undefined, name = 'footer-subscription', method = 'post', menus = htmlWebpackPlugin ? require('@common.blocks/basic/footer/menus.json') : {}, icons = htmlWebpackPlugin ? require('@common.blocks/basic/footer/icons.json') : { icon: {} }, copyright = 'Copyright © 2018 Toxin отель. Все права защищены.' } = {})
  case type
    when 'creative'
      footer.footer.footer_type_creative&attributes(attributes)
        section.footer__logo
          +logo({ tag: 'a', color: 'primary-gradient', title: 'toxin' })(
            href="./landing-page.html"
          )
        p.footer__copyright= copyright
        section.footer__icons
          ul.footer__icons-list
            each icon, title in icons
              li.footer__icons-list-item
                +icon({ tag: 'a', fontFamily: 'branded', content: icon.glyph, width: 'medium', height: 'font', color: 'primary-gradient' })(
                  href=icon.href,
                  title=title
                )
    default
      footer.footer&attributes(attributes)
        section.footer__widgets
          section.footer__logo
            +logo({ tag: 'a', color: 'primary-gradient', title: 'toxin' })(
              href="./landing-page.html"
            )
          p.footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          -
            const getRandID = () => Date.now() + Math.random();
            let index = -1;
          each menu, heading in menus
            -
              const id = getRandID();
              index++;
            section(class=`footer__menu-${index}`)
              input.footer__list-checkbox(id=id, type="checkbox")
              h3.footer__list-label-heading
                label.footer__list-label(for=id, tabindex="0")= heading
              ul.footer__list
                each link in menu
                  li.footer__list-item
                    a.footer__link(href=link.href)= link.title
          section.footer__subscription
            input#footer-subscription-checkbox.footer__list-checkbox(
              type="checkbox"
            )
            h3.footer__list-label-heading
              label.footer__list-label(
                for="footer-subscription-checkbox",
                tabindex="0"
              ) Подписка
            ul.footer__list
              li.footer__list-item
                p.footer__description
                  span.footer__description-aligner Получайте специальные предложения и новости сервиса
              li.footer__list-item
                form(name=name, action=action, method=method) 
                  +form-text-field({ name: 'subscription-form-text-field', type: 'email', materialIcon: 'arrow_forward'})
        section.footer__copyright-bar
          p.footer__copyright= copyright
          .footer__icons
            ul.footer__icons-list
              each icon, title in icons
                li.footer__icons-list-item
                  +icon({ tag: 'a', fontFamily: 'branded', content: icon.glyph, width: 'medium', height: 'font', color: 'primary-gradient' })(
                    href=icon.href,
                    title=title
                  )
