include ~@common.blocks/primitives/heading/heading.pug

//- items: Array<string> // if just use list
//- items: {// if mod==="rich"
//-   'text 1':{icon:"material icon name", description:string},
//-   'text 2':{icon:"material icon name", description:string}
//- }
//- mod?: "rich"
//- heading?: { tag: text }, example: { h3: 'awesome heading' }

mixin form-bullet-list({ mod = undefined, heading = undefined, items = {}} = {})
  -
    const modClass = mod ? `form-bullet-list_${mod}` : null;
  .form-bullet-list(class=modClass)&attributes(attributes)
    if heading
      .form-bullet-list__heading 
        +heading(heading)
    ul.form-bullet-list__list
      each item, key in items
        case mod
          when "rich"
            li.form-bullet-list__item(data-icon=item.icon)= key
              p.form-bullet-list__description= item.description
          default
            li.form-bullet-list__item= item
