mixin form-dropdown__item-quantity-list
  input(name=attributes.name, type="hidden")
  button.iqdropdown.form-dropdown__item-quantity-list(id=attributes.id, type="button")
    p.iqdropdown-selection(
      data-selection-text=attributes.selectionText,
      data-text-plural=attributes.textPlural,
      data-placeholder=attributes.placeholder
    )
    .iqdropdown-menu
      each limits, item in attributes.list
        .iqdropdown-menu-option(
          data-id=item,
          data-defaultcount=limits.default,
          data-mincount=limits.min,
          data-maxcount=limits.max
        )
          div
            h3.iqdropdown-itemItem= item
      if block
        block
