//- class: class for component bem mix: such as positioning functionality
//- label?: text of label
//- name: name of toggle button
//- checked: same as input checked
mixin form-toggle
  .form-toggle(class=attributes.class)
    input.form-toggle__button(
      id=attributes.name,
      type="checkbox",
      name=attributes.name,
      checked=attributes.checked
    )
    if attributes.label
      label.form-toggle__label(for=attributes.name)= attributes.label
