include ~@common.blocks/primitives/form-dropdown/form-dropdown.pug
include ~@common.blocks/primitives/button/button.pug

//- 
  action: string - form action
  name?: string - name of <form>, also it is used such prefix for names of inner forms
  method?: 'get' | 'post' - form method - default is 'get'
  roomNumber: number - number of room
  roomGrade: string - grade of room
  paymentAmount: number - daily cost
  selectedDates?: 'ISODateString,ISODateString' - initial dates; example: '2020-11-18T21:00:00.000Z,2020-11-20T21:00:00.000Z'
  guestsGroups: { ['group-name': string]: { selectionText: string, textPlural: string } }, example: { guests: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }
  guestsList: { ['item-title': string]: { default: number, min: number, max: number, group?: 'group-name' } }, example: { взрослые: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0} }; - if group is unset the itemName will be used instead 
  servicesPayment: number - amount of services payment
  servicesSale: number - amount of services sale
  additionalServicesPayment: number - amount of additional services payment
  Tip: mixin also uses 'and attributes'(&attributes)
mixin card-room-definition({ action = '/mock.js', name = 'card-room-definition', method = 'post', roomNumber = -1, roomGrade = '', paymentAmount = -1, selectedDates = '', guestsGroups = {}, guestsList = {}, servicesPayment = -1, servicesSale = -1, additionalServicesPayment = -1 } = {})
  -
    const currency = '₽';

    const roomNumberSentence = `№ ${roomNumber.toLocaleString()}`;
    const paymentAmountSentence = `${paymentAmount.toLocaleString()}${currency}<span class="card-base__text card-base__text_size-small"> в сутки</span>`;

    servicesPayment = servicesPayment - servicesSale;
    const servicesSaleSentence = servicesSale
      ? `скидка ${servicesSale.toLocaleString()}${currency}`
      : '';
  form.card-base.card-room-definition(name=name, action=action, method=method)&attributes(attributes)
    .card-room-definition__room-title
      h1.card-room-definition__room-number= roomNumberSentence
      h3.card-room-definition__room-grade= roomGrade
    h3.card-room-definition__day-payment(data-amount=paymentAmount)!= paymentAmountSentence
    fieldset.card-room-definition__datepicker-fieldset
      .card-room-definition__datepicker
        .card-room-definition__arrival-date-dropdown
          +form-dropdown('date', { heading: { h3: 'Прибытие' }, name: `${name}-arrival`, range: true, selectedDates, altFields: `.card-room-definition__departure-date-dropdown [name=${name}-departure]` })
        .card-room-definition__departure-date-dropdown
          +form-dropdown('date', { heading: { h3: 'Выезд' }, name: `${name}-departure`, isAltField: true })
    +form-dropdown('item-quantity', { heading: { h3: 'Гости' }, name: `${name}-guests`, placeholder: 'Сколько гостей', openMod: 'apply', groups: guestsGroups, list: guestsList }).card-room-definition__guests-single-apply
    .card-room-definition__payment-rates
      p.card-room-definition__payment-item.card-room-definition__total-day-payment
        span.card-room-definition__payment-sentence
        span.card-room-definition__payment-amount
      p.card-room-definition__payment-item.card-room-definition__services-payment
        span.card-room-definition__payment-sentence= `Сбор за услуги: ${servicesSaleSentence}`
          span.tooltip.card-room-definition__payment-tooltip(
            data-content="Подсказка к сборам за услуги"
          ) i
        span.card-room-definition__payment-amount(data-amount=servicesPayment)= `${servicesPayment.toLocaleString()}${currency}`
      p.card-room-definition__payment-item.card-room-definition__additional-services-payment
        span.card-room-definition__payment-sentence Сбор за дополнительные услуги
          span.tooltip.card-room-definition__payment-tooltip(
            data-content="Подсказка к сборам за дополнительные услуги"
          ) i
        span.card-room-definition__payment-amount(data-amount=additionalServicesPayment)= `${additionalServicesPayment.toLocaleString()}${currency}`
    h2.card-room-definition__payment-item.card-room-definition__total-payment
      span Итого
      span.text-separator
      span.card-room-definition__total-payment-amount
    +button({ appearance: 'link' }).card-room-definition__submit-btn(
      type="submit",
      value="Забронировать"
    )
