include ~@common.blocks/primitives/heading/heading.pug

//- buttons: {
  'name-1':{
    label:string,
    description:string, // additional for "rich" mod
    checked: 'checked'
  },
  'name-2':{
    label:string,
    description:string, // additional for "rich" mod
    checked: ''
  },...}
//- class?: class for component bem mix: such as positioning functionality
//- data-is-filter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- heading?: { tag: text }, example: { h3: 'awesome heading' }
//- mod?: "rich" - mod of component
//- disabled?: same as fieldset disabled (disable all buttons)
mixin form-checkbox-buttons
  -
    const modClass = attributes.mod ? `form-checkbox-buttons_${attributes.mod}` : null;
  .form-checkbox-buttons(class=[modClass, attributes.class])
    if attributes.heading
      +heading(attributes.heading)
    fieldset(disabled=attributes.disabled)
      ul.form-checkbox-buttons__list
        each btn, key in attributes.buttons
          li.form-checkbox-buttons__item
            input.form-checkbox-buttons__button-item(
              id=key,
              type="checkbox",
              name=key,
              data-is-filter=attributes['data-is-filter'] ? `${attributes['data-is-filter']}` : null,
              checked=btn.checked
            )
            label.form-checkbox-buttons__label-item(for=key)= btn.label
            if btn.description
              p.form-checkbox-buttons__description= btn.description
