include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
//- heading: { tag: text }, example: { h3: 'awesome heading' }
//- buttons: {
  'name-1':{
    label:string,
    checked: 'checked'
  },
  'name-2':{
    label:string,
    checked: ''
  },...}
//- class?: class for component bem mix: such as positioning functionality
//- data-is-filter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- checked?: open the list
//- disabled?: same as fieldset disabled (disable all buttons)
//- Tip: be careful if use large amount of items: max-height limited by 32em for transition animation
mixin form-expandable-checkbox-list
  .form-expandable-checkbox-list(class=attributes.class)
    .form-expandable-checkbox-list__expander
      -
        const expanderID =
          Object.keys(attributes.buttons).reduce((acc, current) => acc + current) + Math.random();
      +heading(attributes.heading, { isLabel: true })(for=expanderID)
        span.icon.form-expandable-checkbox-list__expand-icon
      input.form-expandable-checkbox-list__expander-input(
        id=expanderID,
        type="checkbox",
        checked=attributes.checked
      )
      +form-checkbox-buttons.form-expandable-checkbox-list__list(
        buttons=attributes.buttons,
        data-is-filter=attributes['data-is-filter'] ? `${attributes['data-is-filter']}` : null,
        disabled=attributes.disabled
      )
