include ~@common.blocks/primitives/icon/icon.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
//-
  heading?: { [tag: string]: text }, example: { h3: 'awesome heading' }
  buttons: see mixin form-checkbox-buttons
  checked?: boolean - open the list
  disabled?: see mixin form-checkbox-buttons
  isFilter?: see mixin form-checkbox-buttons
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-expandable-checkbox-list({ heading = { h3: 'expandable-checkbox-list' }, buttons = {}, checked = false, disabled = false, isFilter = false } = {})
  .form-expandable-checkbox-list.js-form-expandable-checkbox-list&attributes(attributes)
    -
      const { nanoid } = require('nanoid/non-secure');

      const headingTag = Object.keys(heading)[0];
      const expanderID = `id-${nanoid()}`;
    #{headingTag}.form-expandable-checkbox-list__heading
      label.form-expandable-checkbox-list__heading-label.js-form-expandable-checkbox-list__heading-label(for=expanderID, tabindex="0")
        = heading[headingTag]
        span.form-expandable-checkbox-list__expand-icon.js-form-expandable-checkbox-list__expand-icon
          +icon({ content: checked ? 'expand_less' : 'expand_more', width: 'large' }) 
    input.form-expandable-checkbox-list__expander-input.js-form-expandable-checkbox-list__expander-input(
      id=expanderID,
      type="checkbox",
      checked=checked
    )
    .form-expandable-checkbox-list__list.js-form-expandable-checkbox-list__list
      +form-checkbox-buttons({ buttons, disabled, isFilter })
