include ~@common.blocks/basic/nav-bar/__navigation-list/nav-bar__navigation-list.pug
include ~@common.blocks/primitives/button/button.pug

//- active?: {string} - key of items const object
//- status?: "unconfirmed" | "confirmed" - add entering and registration btn or person link, default is "unconfirmed"
  //- Additional for "confirmed" status
    //- personHref: {string} - href for person account
    //- personName: {string} - person name
//- class?: class for component bem mix: such as positioning functionality

mixin nav-bar
  -
    const status = attributes.status ? attributes.status : 'unconfirmed';
    const items = {// tip: maximum nesting is conditionally inf and you can set active?: 'active' only for children(parents would be automatically settled)
      'О нас': { href: '/mock.html' },
      Услуги: {
        href: '/mock.html',
        items: {
          'Услуга 1': { href: '/mock.html' },
          'Услуга 2': { href: '/mock.html' },
          'Услуга 3': { href: '/mock.html' },
          'Услуга 4': { href: '/mock.html' },
          'Услуга 5': { href: '/mock.html' },
        },
      },
      Вакансии: { href: '/mock.html' },
      Новости: { href: '/mock.html' },
      Соглашения: {
        href: '/mock.html',
        items: {
          'Соглашение 1': { href: '/mock.html' },
          'Соглашение 2': { href: '/mock.html' },
          'Соглашение 3': {
            href: '/mock.html',
            items: {
              'Соглашение 3-1': {
                href: '/mock.html',
                items: { 'Соглашение 3-1-1': { href: '/mock.html' } },
              },
              'Соглашение 3-2': { href: '/mock.html' },
            },
          },
        },
      },
    }
  header.nav-bar.content-container(class=attributes.class)
    section.nav-bar__logo
      .logo.logo_color-gradient-primary
      span.logo__title TOXIN
    nav.nav-bar__navigation
      +nav-bar__navigation-list(items=items, active=attributes.active)
    section.nav-bar__login(
      class=status === 'unconfirmed' ? 'nav-bar__login_isUnConfirmed' : 'nav-bar__login_isConfirmed'
    )
      case status
        when "unconfirmed"
          a(href="/mock.html")
            +button.nav-bar__button(
              type="button",
              value="Войти",
              modClass="bordered",
              tabindex="-1"
            )
          a(href="/mock.html")
            +button.nav-bar__button(
              type="button",
              value="Зарегистрироваться",
              modClass="filled",
              tabindex="-1"
            )
        when "confirmed"
          a.nav-bar__person(href=attributes.personHref, title="в личный кабинет")= attributes.personName
