include ~@common.blocks/primitives/logo/logo.pug
include ~@common.blocks/primitives/button/button.pug

include ./__navigation-list/nav-bar__navigation-list.pug

//- 
  status?: 'confirmed' - add entering and registration btn or person link
    when 'confirmed'
      personHref: string - href for person account
      personName: string - person name
  navigation?: { items: { [textContent: string]: { href: string, items?: [textContent: string]: { href: string, items?: } } } } - navigation with recursive items of nav-bar list
  active?: string - key of active item
  Tip: mixin also uses 'and attributes'(&attributes)

mixin nav-bar({ status = 'unconfirmed', personHref = './mock.html', personName = 'Константин Константинопольский', navigation = htmlWebpackPlugin ? require('@common.blocks/basic/nav-bar/navigation.json') : { items: { item: { items: {} } } }, active = undefined } = {})
  header.nav-bar.js-nav-bar&attributes(attributes)
    section.nav-bar__logo
      +logo({ tag: 'a', color: 'primary-gradient', title: 'toxin' })(
        href="./landing-page.html"
      )
    button.nav-bar__burger.js-nav-bar__burger(
      type="button",
      aria-expanded="false"
    )
      span.nav-bar__burger-line
    .nav-bar__body.js-nav-bar__body
      nav.nav-bar__navigation
        -
          const { items } = navigation;
        +nav-bar__navigation-list(items, active)
      -
        const loginStatusClass = `nav-bar__login_status_${status}`;
      section.nav-bar__login(class=[loginStatusClass])
        case status
          when 'confirmed'
            a.nav-bar__person(href=personHref, title="в личный кабинет")= personName
          default
            +button({ tag: 'a', text: 'Войти', appearance: 'bordered', verticalPadding: 'small' })(
              href="./sign-in.html"
            )
            +button({ tag: 'a', text: 'Зарегистрироваться', verticalPadding: 'small' })(
              href="./registration.html"
            )
