include ~@common.blocks/primitives/heading/heading.pug

//-
  name?: string - name of slider form
  range: { min: number, max: number }
  start: number[]
  step?: number
  heading: { [tag: string]: string }, example: { h3: 'awesome heading' }
  description: string - appended text after slider
  isFilter?: boolean - if true, input change event will reload page with chosen value(get method), default is false
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-range-slider({ name = 'range-slider', range = { min: -100, max: 100 }, start = [0, 0], step = undefined, heading = { h3: 'range slider' }, description = '', isFilter = false } = {})
  .form-range-slider(data-is-filter=isFilter)&attributes(attributes)
    .form-range-slider__label
      +heading(heading)
    each val, index in start
      input.form-range-slider__input(
        name=`${name}-${index}`,
        type="range",
        min=range.min,
        max=range.max,
        value=val,
        step=step
      )
    output.form-range-slider__result(name=name)
    .form-range-slider__slider
    if description
      p.form-range-slider__description= description
