//-
  tag?: string - tag of icon
  fontFamily?: 'material' | 'branded'(Font Awesome 5 Brands) - font-family of icon
  content?: string - unicode code or alias of icon
  width?: 'medium'(1em) | 'large'(1.83em) - width of icon
  height?: 'font' 
  color?: 'primary-gradient' - color of icon
  Tip: mixin also uses 'and attributes'(&attributes)
mixin icon({ tag = 'i', fontFamily = 'material', content = 'sentiment_satisfied', width = undefined, height = undefined, color = undefined } = {})
  -
    const tagClass = `icon_tag_the-${tag}`

    const fontFamilyClass = `icon_font-family_${fontFamily}`;

    const widthClass = width && `icon_width_${width}`;
    const heightClass = height && `icon_height_${height}`;
    const colorClass = color && `icon_color_${color}`;
  #{tag}.icon(class=[tagClass, fontFamilyClass, widthClass, heightClass, colorClass])&attributes(attributes)!= content
