include ~@common.blocks/primitives/form-dropdown/form-dropdown.pug
include ~@common.blocks/primitives/button/button.pug

//- 
  action: string - form action
  name?: string - name of <form>, also it is used such prefix for names of inner forms
  method?: 'get' | 'post' - form method
  datepickerDisabled?: boolean - same as fieldset disabled (disable all dates picking)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin card-pick-room({ action = '/mock.js', name = 'card-pick-room', method = 'post', datepickerDisabled = false } = {})
  form.card-base.card-pick-room(name=name, action=action, method=method)&attributes(attributes)
    h1.card-pick-room__title Найдём номера под ваши пожелания
    fieldset.card-pick-room__datepicker-fieldset(disabled=datepickerDisabled)
      .card-pick-room__datepicker
        .card-pick-room__arrival-date-dropdown
          +form-dropdown('date', { heading: { h3: 'Прибытие' }, name: `${name}-arrival`, range: true, altFields: `.card-pick-room__departure-date-dropdown [name=${name}-departure]` })
        .card-pick-room__departure-date-dropdown
          +form-dropdown('date', { heading: { h3: 'Выезд' }, name: `${name}-departure`, isAltField: true })
    +form-dropdown('item-quantity', { heading: { h3: 'Гости' }, name: `${name}-guests`, placeholder: 'Сколько гостей', openingMethod: 'applied', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } }).card-pick-room__guests-dropdown
    +button({ appearance: 'like-a-link' }).card-pick-room__submit-btn(
      type="submit",
      value="Подобрать номер"
    )
