include ~@common.blocks/primitives/form-dropdown/form-dropdown.pug
include ~@common.blocks/primitives/button/button.pug

//- id: id of card
//- class: class for component bem mix: such as positioning functionality
//- action - form action
//- method - form method
mixin card-pick-room
  form(action=attributes.action, method=attributes.method)
    .card-pick-room(id=attributes.id, class=attributes.class)
      h1.card-pick-room__title Найдём номера под ваши пожелания
      +form-dropdown.card-pick-room__arrival-date-dropdown(
        label="Прибытие",
        type="date",
        name="arrival",
        placeholder="ДД.ММ.ГГГГ"
      )
      +form-dropdown.card-pick-room__departure-date-dropdown(
        label="Выезд",
        type="date",
        name="departure",
        placeholder="ДД.ММ.ГГГГ"
      )
      +form-dropdown.card-pick-room__guests-single-apply(
        label="Гости",
        type="single-apply",
        name="guests",
        placeholder="Сколько гостей",
        list={ взрослые: { default: 0, min: 0, max: 1 / 0 }, дети: { default: 0, min: 0, max: 1 / 0 }, младенцы: { default: 0, min: 0, max: 1 / 0 } },
        selectionText='гость',
        textPlural="гостя"
      )
      +button.card-pick-room__submit-btn(
        type="submit",
        name="nextPage",
        value="Подобрать номер",
        modClass="link"
      )
